{%- assign main_menu_handle = section.settings.menu -%}
{%- assign main_menu_obj = linklists[main_menu_handle] | default: menus[main_menu_handle] -%}
{%- assign main_links = main_menu_obj.links -%}

{%- if main_links and main_links.size > 0 -%}
<nav class="main-menu">
  <ul class="main-menu__nav list-unstyled d-flex m-0 justify-content-center">
    {%- for menu_link in main_links -%}
      {%- assign is_mega = false -%}
      {%- for block in section.blocks -%}
        {%- assign menu_item = block.settings.title | strip -%}
        {%- if menu_item != blank and menu_link.title contains menu_item -%}
          {%- assign is_mega = true -%}
          {%- include 'header-megamenu' -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}

      {%- if is_mega == false -%}
        {%- if menu_link.links != blank -%}
          <li class="main-menu__nav-item menu-dropdown{% if menu_link.active %} active{% endif %}">
            <a class="main-menu__link" href="{{ menu_link.url }}" title="{{ menu_link.title | escape }}">
              {{ menu_link.title }}
              {% render 'icons', icon: 'caret', class: 'ms-1', attr: 'width="10px" height="15px"' %}
            </a>
            <ul class="menu-dropdown__content list-unstyled">
              {%- for child in menu_link.links -%}
                <li class="{% if child.active %}active{% endif %}">
                  <a class="main-menu__link" href="{{ child.url }}" title="{{ child.title | escape }}">{{ child.title }}</a>
                </li>
              {%- endfor -%}
            </ul>
          </li>
        {%- else -%}
          <li class="main-menu__nav-item{% if menu_link.active %} active{% endif %}">
            <a class="main-menu__link" href="{{ menu_link.url }}" title="{{ menu_link.title | escape }}">{{ menu_link.title }}</a>
          </li>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  </ul>
</nav>
{%- endif -%}

<style>
  .main-menu__nav > li { 
    position: relative; 
    margin: 0 22px; 
  }

  .main-menu__link { 
    color:#fff; 
    text-decoration:none; 
    letter-spacing:.06em; 
  }

  .menu-dropdown__content{
    display:none; position:absolute; left:50%; transform:translateX(-50%);
    top: calc(100% + 18px); background:#fff; color:#222; padding:24px;
    box-shadow:0 8px 24px rgba(0,0,0,.12); z-index:999;
  }

  .main-menu__nav > li:hover > .menu-dropdown__content{ 
    display:block; 
  }

  .menu-dropdown__content--megamenu{
    display:none; 
    position:absolute; 
    left:50%; 
    transform:translateX(-50%);
    top: calc(100% + 18px); 
    width:100%; max-width:1200px; 
    background:#fff;
    padding:32px; 
    box-shadow:0 8px 24px rgba(0,0,0,.12); 
    z-index:999;
  }

  .main-menu__nav > li:hover > .menu-dropdown__content--megamenu{ 
    display:block; 
  }

</style>