<footer id="footer" class="footer">
  <div
    class="footer-inner position-relative lazyload js"
    style="background: black; padding: 20px"
  >
  <div>
    <div class="footer-top-grid" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
        <div  style="display: flex; flex-direction: column; gap: 24px;">
            <div class="footer-logo">
                <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202 90">
  <defs>
    <style>
      .cls-1 {
        fill: #fff;
      }

      .cls-2 {
        fill: #b6926c;
      }
    </style>
  </defs>
  <path class="cls-1" d="M52.02,59.62l.63,3.19h-.35c-.21-.83-.61-1.63-2.38-1.73-.94-.05-2.98-.08-2.98-.08v8.1c0,1.82,0,3.42.1,4.25.06.57.42,1.17,1.28,1.17h.69v.36h-6.64v-.36h.69c.86,0,1.22-.59,1.28-1.17.1-.83.1-2.43.1-4.25v-8.1s-2.04.03-2.98.08c-1.77.09-2.17.9-2.38,1.73h-.35l.63-3.19s.86.33,2.93.33h6.8c2.07,0,2.93-.33,2.93-.33ZM18.82,76.86v.27s-.6.31-1.48.31c-2.25,0-3.83-.81-5.49-2.42-1.07-1.03-2.43-2.87-2.86-3.47-.79-1.09-1.81-2.57-2.07-2.86h-2.18s0,3.83.1,4.66c.06.57.74,1.17,1.74,1.17h.45v.36H0v-.36h.86c.86,0,1.22-.59,1.28-1.17.1-.83.1-5.99.1-5.99,0,0,0-5.12-.1-5.95-.06-.57-.42-1.17-1.28-1.17h-.86v-.36h6.42c1.24,0,2.62.12,3.68.85.55.38,1.34,1.38,1.34,2.71,0,1.46-.59,2.79-2.59,4.41,2.8,3.61,4.54,5.81,5.86,7.2,1.32,1.39,3.16,2.06,4.1,1.81ZM9.11,64.44c0-2.81-1.9-3.62-3.07-3.62-.63,0-1.3.08-1.3.08v6.64s.85.2,1.73.2c.79,0,1.11-.08,1.47-.34.59-.43,1.17-1.34,1.17-2.96ZM28.99,60.25h.64c.86,0,1.22.59,1.28,1.17.09.79.1,4.2.1,4.21v2.47c0,2.04-.06,3.81-1.15,4.9-.79.79-1.86,1.07-2.73,1.07-.67,0-1.58-.08-2.47-.81-.97-.79-1.54-2-1.54-4.86v-2.77s0-3.4.1-4.21c.06-.57.42-1.17,1.28-1.17h.32v-.36h-6.42v.36h.81c.86,0,1.22.59,1.28,1.17.1.83.1,4.21.1,4.21h0v2.88c0,2.86.75,4.33,1.76,5.24,1.44,1.3,3.34,1.36,4.39,1.36,1.28,0,2.71-.22,4.11-1.42,1.66-1.42,1.88-3.75,1.88-5.95v-2.11s0-3.38.1-4.21c.06-.57.42-1.17,1.28-1.17h.69v-.36h-5.82v.36ZM98.85,60.25h.69v-.36h-6.64v.36h.69c.86,0,1.22.59,1.28,1.17.1.83.1,5.95.1,5.95,0,0,0,5.16-.1,5.99-.06.57-.42,1.17-1.28,1.17h-.69v.36h6.64v-.36h-.69c-.86,0-1.22-.59-1.28-1.17-.1-.83-.1-5.99-.1-5.99,0,0,0-5.12.1-5.95.06-.57.42-1.17,1.28-1.17ZM57.34,60.25h.69c.86,0,1.22.59,1.28,1.17.1.83.1,5.95.1,5.95,0,0,0,5.16-.1,5.99-.06.57-.42,1.17-1.28,1.17h-.69v.36h6.64v-.36h-.69c-.86,0-1.22-.59-1.28-1.17-.1-.83-.1-5.99-.1-5.99,0,0,0-5.12.1-5.95.06-.57.42-1.17,1.28-1.17h.69v-.36h-6.64v.36ZM81.12,60.25h1.03c.86,0,1.22.59,1.28,1.17.03.23.13,5.24.13,5.24l.04,4.5s-2.93-3.08-3.92-4.11c-1.8-1.87-7.23-7.45-7.23-7.45h-.42s-.11,12.92-.21,13.75c-.06.57-.42,1.17-1.28,1.17h-.91v.36h6.14v-.36h-1.03c-.86,0-1.22-.59-1.28-1.17-.03-.23-.06-1.44-.08-3.04l-.07-6.48s2.61,2.9,4.76,5.04c2.05,2.04,6.23,6.22,6.23,6.22h.57s.11-12.84.21-13.67c.06-.57.42-1.17,1.28-1.17h.91v-.34h-6.14v.36ZM198.76,65.82l-.55-.42c-1.64-1.24-2.09-1.94-2.09-2.85,0-1.19.89-2.04,2.35-2.04,1.55,0,2.72.93,2.72,2.48h.34l.11-2.97s-1.65-.42-2.91-.42c-2.75,0-4.56,1.56-4.56,3.73,0,1.6.75,2.98,2.92,4.68l.91.71c1.64,1.28,1.94,2.19,1.94,3.16,0,1.05-.87,2.25-2.65,2.25-1.27,0-3-.66-3-3.22h-.4s-.18,3.38-.18,3.38c0,0,.91.78,3.31.78,1.05,0,2.15-.18,3.14-.81,1.42-.93,1.86-2.29,1.86-3.44,0-1.88-.85-3.24-3.24-5.04ZM186.08,73.67c-.51.24-1.51.25-2.03.25-2.02,0-2.5-.36-2.54-1.72-.02-.57,0-4.82,0-4.82,0,0,2.44.02,2.82.06.93.1,1.31.69,1.31,1.56h.29l.22-3.29h-.22c-.23.35-.38.57-1.22.64-.45.04-3.19.04-3.19.04v-5.5s2.64.04,3.02.08c1,.1,1.48.47,1.48,1.62v.17h.32l.27-2.95s-.83.09-1.66.09h-8.18v.36h.86c.86,0,1.22.59,1.28,1.17.1.83.1,5.97.1,5.97,0,0,0,5.12-.1,5.95-.06.57-.42,1.17-1.28,1.17h-.86v.36h6.47c1.64,0,3.62.06,3.62.06l.67-3.18-.31-.06c-.14.81-.62,1.74-1.14,1.98ZM141.4,60.25h.69c.86,0,1.22.59,1.28,1.17.1.83.1,5.95.1,5.95,0,0,0,5.16-.1,5.99-.06.57-.42,1.17-1.28,1.17h-.69v.36h6.64v-.36h-.69c-.86,0-1.22-.59-1.28-1.17-.1-.83-.1-5.99-.1-5.99,0,0,0-5.12.1-5.95.06-.57.42-1.17,1.28-1.17h.69v-.36h-6.64v.36ZM131.32,60.25h.76c1.23,0,1.56.54,1.03,2.28-.63,2.09-2.13,7.08-2.48,8.38l-4.54-10.91h-.42l-4.13,11.05s-2.39-7.61-2.89-9.75c-.15-.66.17-1.06.77-1.06h.77v-.36h-6.62v.36h.73c.77,0,1.38.35,1.67,1.19.12.35,4.58,13.63,4.58,13.63h.54l4.25-10.89,4.54,10.89h.46s3.35-10.14,4.26-12.63c.64-1.82,1.06-2.18,2.02-2.18h.58v-.36h-5.9v.36ZM165.18,60.26h1.03c.86,0,1.22.59,1.28,1.17.03.23.13,5.24.13,5.24l.04,4.5s-2.93-3.08-3.92-4.11c-1.8-1.87-7.23-7.45-7.23-7.45h-.42s-.11,12.91-.21,13.74c-.06.57-.42,1.17-1.28,1.17h-.91v.36h6.14v-.36h-1.03c-.86,0-1.22-.59-1.28-1.17-.03-.23-.06-1.43-.08-3.03l-.07-6.48s2.61,2.9,4.76,5.04c2.05,2.04,6.23,6.22,6.23,6.22h.57s.11-12.84.21-13.67c.06-.57.42-1.17,1.28-1.17h.91v-.34h-6.14v.36ZM16.26,87.54v-2.67h-.98v2.64c0,1.07-.46,1.59-1.27,1.59s-1.27-.52-1.27-1.59v-2.64h-1.02v2.67c0,1.68.97,2.43,2.28,2.43s2.27-.75,2.27-2.43ZM22.96,89.43v-.92c-.4.35-.93.61-1.62.61-.98,0-1.71-.67-1.71-1.78s.73-1.78,1.71-1.78c.69,0,1.22.26,1.62.61v-.92c-.41-.31-1.07-.5-1.73-.5-1.43,0-2.66.98-2.66,2.59s1.23,2.59,2.66,2.59c.65,0,1.31-.19,1.73-.5ZM30.36,87.35c0-1.52-1.17-2.62-2.68-2.62s-2.7,1.1-2.7,2.62,1.18,2.62,2.7,2.62,2.68-1.1,2.68-2.62ZM29.3,87.35c0,1.07-.64,1.82-1.62,1.82s-1.64-.74-1.64-1.82.65-1.82,1.64-1.82,1.62.74,1.62,1.82ZM40.04,84.87h-1l-1.46,3.56-1.48-3.56h-1.03l2.11,4.96h.76l2.11-4.96ZM45.94,89.83l-2.11-4.96h-.79l-2.11,4.96h.98l.5-1.22h2.01l.5,1.22h1.01ZM44.16,87.9h-1.46l.74-1.8.73,1.8ZM51.24,89.83v-.79h-2.22v-4.17h-1.01v4.96h3.23ZM56.56,89.83v-.79h-2.22v-4.17h-1.01v4.96h3.23ZM61.88,89.83v-.79h-2.22v-1.44h1.81v-.79h-1.81v-1.17h2.22v-.79h-3.23v4.96h3.23ZM68.63,84.87h-1.07l-1.36,2.16-1.36-2.16h-1.1l1.94,2.97v1.98h1.01v-1.98l1.94-2.97ZM74.15,87.08c-.4,0-.74.32-.74.73s.33.74.74.74.73-.33.73-.74-.32-.73-.73-.73ZM85.56,89.83v-4.96h-1.04l-1.63,3.63-1.64-3.63h-1.07v4.96h.88v-3.04c0-.12-.02-.45-.02-.47.02.05.12.36.17.47l1.33,3.04h.62l1.33-3.04.18-.47s-.03.36-.03.47v3.04h.92ZM91.34,89.83v-.79h-2.22v-1.44h1.81v-.79h-1.81v-1.17h2.22v-.79h-3.23v4.96h3.23ZM97.92,89.83v-4.96h-.9v3.27l-2.59-3.27h-.7v4.96h.9v-3.27l2.59,3.27h.7ZM105.03,87.35c0-1.36-.83-2.48-2.82-2.48h-1.74v4.96h1.74c1.98,0,2.82-1.12,2.82-2.48ZM104,87.35c0,.99-.48,1.67-1.83,1.67h-.69v-3.34h.69c1.36,0,1.83.68,1.83,1.67ZM112.47,87.35c0-1.52-1.17-2.62-2.68-2.62s-2.7,1.1-2.7,2.62,1.18,2.62,2.7,2.62,2.68-1.1,2.68-2.62ZM111.41,87.35c0,1.07-.64,1.82-1.62,1.82s-1.64-.74-1.64-1.82.65-1.82,1.64-1.82,1.62.74,1.62,1.82ZM117.88,84.87h-3.65v.79h2.38l-2.41,3.69v.49h3.67v-.79h-2.4l2.41-3.69v-.49ZM124.69,89.83l-2.11-4.96h-.79l-2.11,4.96h.98l.5-1.22h2.01l.5,1.22h1.01ZM122.91,87.9h-1.46l.74-1.8.73,1.8ZM130.26,87.08c-.41,0-.74.32-.74.73s.33.74.74.74.73-.33.73-.74-.32-.73-.73-.73ZM140.82,89.83l-2.11-4.96h-.79l-2.11,4.96h.98l.5-1.22h2.01l.5,1.22h1.01ZM139.03,87.9h-1.46l.74-1.8.73,1.8ZM147.01,89.8v-.64c-.1.03-.18.04-.28.04-.35,0-.58-.15-.83-.58l-.49-.85c.69-.16,1.09-.7,1.09-1.4,0-.8-.5-1.5-1.68-1.5h-1.95v4.96h1.01v-1.98h.58l.53,1.06c.36.72.83.98,1.43.98.18,0,.4-.03.59-.09ZM143.89,85.59h.78c.63,0,.85.34.85.78s-.22.77-.85.77h-.78v-1.55ZM153.44,89.48v-2.19h-1.84v.74h.88v.97c-.26.13-.58.21-.96.21-.99,0-1.69-.7-1.69-1.82s.72-1.82,1.75-1.82c.74,0,1.25.26,1.66.61v-.92c-.41-.31-1.11-.5-1.76-.5-1.45,0-2.7.98-2.7,2.59s1.21,2.62,2.64,2.62c.98,0,1.75-.37,2.03-.49ZM159.21,89.83v-.79h-2.22v-1.44h1.81v-.79h-1.81v-1.17h2.22v-.79h-3.23v4.96h3.23ZM165.8,89.83v-4.96h-.9v3.27l-2.59-3.27h-.7v4.96h.9v-3.27l2.59,3.27h.7ZM172.24,85.66v-.79h-4.36v.79h1.68v4.17h1.01v-4.17h1.68ZM175.34,89.83v-4.96h-1.01v4.96h1.01ZM182.07,89.83v-4.96h-.9v3.27l-2.59-3.27h-.7v4.96h.9v-3.27l2.59,3.27h.7ZM189.14,89.83l-2.11-4.96h-.79l-2.11,4.96h.98l.5-1.22h2.01l.5,1.22h1.01ZM187.35,87.9h-1.46l.74-1.8.73,1.8Z"/>
  <path class="cls-2" d="M95.11,19.28l-.16.33v-1.47c.1.08.21.15.32.19v1.28l-.16-.33ZM95.93,18.42v2.33l.32.05v-2.38h-.32ZM97.24,18.51c-.1.05-.21.07-.32.08v2.3l.32.05v-2.43ZM99.2,18.54c-.11.02-.22.03-.32.03v1.2c.1-.11.21-.22.32-.31v-.92ZM99.86,18.37v.7c.11-.05.21-.09.32-.12v-.73c-.11.06-.21.11-.32.16ZM101.16,18.83v-.9c-.05,0-.11,0-.16,0-.06,0-.11,0-.16-.01v.91c.05,0,.11,0,.16,0s.11,0,.16,0ZM101.82,17.74v1.21c.11.03.22.07.32.12v-1.5c-.1.07-.21.13-.32.18ZM102.8,19.46c.12.1.23.2.32.31v-2.21h-.32v1.9ZM105.09,18.59c-.12,0-.23-.04-.32-.08v2.43l.32-.05v-2.3ZM105.75,18.42v2.38l.32-.05v-2.33h-.32ZM107.05,19.6v-1.47c-.1.08-.21.15-.32.19v1.28l.16-.33.16.33ZM107.71,19.07v1.68h0s.32.05.32.05v-1.44h0v-.08c-.12-.06-.23-.12-.32-.2ZM108.79,19.42s-.07,0-.1,0v1.47l.32.05h0s0,0,0,0v-1.48s0,0,0,0v-.05c-.07.01-.15.02-.22.02ZM98.78,2.16c0,.42.23.88.82.88.72,0,1.08-.95,1.79-.95.27,0,.4.14.4.14-.72,0-.92.52-1.1.7l.25,1.03c.26-.88.81-1.45,1.45-1.46.14-.24.21-.53.21-.84,0-.58-.69-1.16-1.32-1.16-.68,0-1.1.34-1.38.84,0-.69.55-1.09.9-1.17,0,0-.13-.14-.42-.14-.36,0-.94.22-1.42,1.28-.09-.17-.09-.6.1-.83-.34,0-.9.32-.9.93s.62.76.62.76ZM97.4,5.02c0-.31.29-.34.29-.34,0,0-.16.14-.16.57,0,.37.25.95.95.95s.94-.51.99-.63c0,0,.17.04.33.04.52,0,.67-.32.67-.32,0,0,.04.37-.24.49,0,0,.25.15.25.34h.34v-1.46c0-.34-.28-1.06-1.05-1.06-.64,0-1.23.61-1.52,1.57-.21-.59.42-1.55.82-1.73-.31-.21-.89-.04-1.06.33-.33,0-.85.38-.85.96,0,.19.11.29.25.29ZM102.66,2.86c-1.08,0-1.56,1.32-1.56,3.26h.7c.11,0,.21-.08.21-.23,0-.74.49-.98.49-.98,0,0-.11-.1-.32-.1-.29,0-.43.13-.43.13,0,0,.09-.41.45-.41.33,0,.42.21.72.21.24,0,.32-.06.32-.06,0,0,.28.51.89.51.57,0,.82-.45.82-.45,0,0,.11.07.24.07.57,0,.74-.48.74-.94,0-.37-.26-1.2-.99-1.2.17.15.25.74.12,1.26-.18-.73-.6-1.52-1.39-1.52-.2,0-.47.04-.6.16.38.07.92.72.75,1.31,0,0-.23-1.02-1.15-1.02ZM94.02,37.54s0,0,0,0l11.59-11.8h-.44l-11.37,11.58c.07.07.14.15.21.21ZM93.5,37l11.05-11.25h-.44l-10.82,11.02s0,0,0,0c.06.08.13.15.2.23ZM93.01,36.42l10.48-10.67h-.44l-10.24,10.42s.01.01.02.02c.05.07.11.15.18.23ZM99.37,21.54s0-.04,0-.06,0-.04,0-.06c0-.07.07-.13.14-.13h.92s.02-.04.03-.06l-.64-.61c-.06-.06-.06-.15,0-.2.02-.02.05-.05.07-.07.06-.05.16-.05.21,0l.64.61s.04-.02.06-.02v-.88c0-.06.05-.12.12-.12.03,0,.05,0,.08,0s.05,0,.08,0c.07,0,.12.06.12.12v.88s.04.02.06.02l.65-.61c.05-.05.14-.05.2,0,.03.03.06.05.09.08.05.05.05.14,0,.19l-.65.61s.02.04.03.06h.92c.08,0,.14.06.14.13,0,.02,0,.04,0,.06s0,.04,0,.06c0,.07-.07.13-.14.13h-.92s-.02.04-.03.06l.65.61c.05.05.06.14,0,.19-.03.03-.05.05-.08.08-.06.05-.15.05-.2,0l-.65-.61s-.04.02-.06.03v.87c0,.07-.06.13-.14.14-.02,0-.04,0-.06,0-.02,0-.04,0-.06,0-.08,0-.14-.06-.14-.14v-.87s-.04-.02-.06-.03l-.66.62s-.13.05-.18,0c-.04-.03-.07-.06-.1-.1-.05-.05-.05-.12,0-.17l.66-.62s-.02-.04-.03-.06h-.92c-.08,0-.14-.06-.14-.13ZM100.69,21.48c0,.16.14.29.31.29s.31-.13.31-.29-.14-.3-.31-.3-.31.13-.31.3ZM98.5,21.48c0-1.31,1.12-2.37,2.5-2.37s2.49,1.06,2.49,2.37-1.12,2.37-2.49,2.37-2.5-1.06-2.5-2.37ZM99.14,21.28c0,.07-.01.14-.01.2s0,.14.01.2c.03.23.1.45.21.64,0,0,0,0,0,.01.05.09.11.17.17.25.09.11.19.2.3.29.27.2.59.34.95.37.07,0,.14.01.22.01s.14,0,.21-.01c.36-.04.68-.17.95-.37.11-.08.21-.18.3-.29.05-.06.1-.13.14-.19.03-.04.06-.09.08-.14,0,0,0,0,0,0,.09-.17.15-.37.17-.57,0-.07.01-.14.01-.2s0-.14-.01-.2c-.04-.34-.18-.65-.39-.9-.09-.11-.19-.2-.3-.29-.27-.2-.59-.33-.95-.37-.07,0-.14-.01-.21-.01s-.15,0-.22.01c-.36.04-.68.17-.95.37-.11.08-.21.18-.3.29-.21.25-.35.56-.39.9ZM94.25,22l-.2,1.18,1.06-.56,1.06.56-.2-1.18.86-.84-1.19-.17-.53-1.07-.53,1.07-1.19.17.86.84ZM106.03,22l-.2,1.18,1.06-.56,1.06.56-.2-1.18.86-.84-1.19-.17-.53-1.07-.53,1.07-1.19.17.86.84ZM109.91,26.05c0-.18.05-.31.05-.31t0,0h-3.71l-11.88,12.09c.79.69,2.03,1.53,3.02,2.11l12.85-13.09s-.32-.31-.32-.8ZM96.79,17.08h.67c0-.34.13-.5.13-.5-.12-.14-.15-.35-.15-.35-.41,0-.66.51-.66.86ZM104.21,16.72s-.1-.21-.42-.21c-.38,0-.72.21-.72.4,0,.09.06.17.23.17h1.74c.11,0,.15-.06.15-.14,0-.28-.65-.97-1.23-.97-.19,0-.17.25-.17.25.34,0,.48.18.48.32,0,.13-.06.17-.06.17ZM96.5,10.68c0-1.92.75-2.67.75-2.67h.43l-.05-.43s.05-.14.18-.14c.13,0,.25.08.31.15.78.95,2.43,2.18,3.76,2.67l.13.26s.22-.34.74-.34.73.42.73.42c0-.37-.31-.75-.82-.75-.42,0-.67.21-.67.21-1.6-.88-2.42-1.78-2.42-1.78.25-.16.18-.37.18-.37-.11.13-.3.18-.48.18-.28,0-.44-.25-.44-.43,0-.42.31-.58.47-.58h.16c0-.08-.08-.17-.23-.17,0-.2.16-.45.6-.45.29,0,.56.16.56.42-.26,0-.26-.14-.4-.14-.1,0-.12.12-.12.12,0,0,.22.25.63.25.32,0,.56-.28.56-.28,0,0-.02-.14-.13-.14-.14,0-.16.18-.33.18,0,0-.04-.11-.04-.23,0-.2.16-.37.34-.37h.61c.21,0,.27.13.27.13,0,0-.26.15-.26.31,0,.09.06.13.14.13.18,0,.34-.35.82-.35.29,0,.3.28.3.28,0,0,.23-.13.59-.13.56,0,1,.54,1,.86,0,.09-.02.18-.11.18-.08,0-.12-.06-.12-.15,0-.11-.09-.2-.2-.2s-.2.09-.2.2c0,.37.53.5,1.01.7.35.14.97.47.97,1.25s-.73.83-.73.83c0,1.47-1.4,2.77-1.4,3.63,0,0-.27.11-.27-.25,0-.64,1.18-1.98,1.18-3.21,0-.31-.09-.5-.29-.5-.21,0-.25.12-.25.41,0,1.57-1.05,2.51-1.05,3.58,0,.15.07.37.35.37.4,0,.6-.36,1.08-.36.66,0,.57.69.57.69-1.6,0-2.11,2.89-3.91,2.89-.32,0-.47-.13-.47-.13,0,0-.63.76-1.7.76-.63,0-1.04-.4-1.04-.96,0-.5.24-.78.24-.78,0,0-.18-.23-.18-.51,0-.67.59-1.33,1.03-1.33.11,0,.19.09.19.21,0,.4-.45.59-.45,1.04,0,.2.17.31.17.31,0,0-.31.26-.31.67,0,.32.16.5.51.5.77,0,1.36-.75,1.36-.75,1.63,0,2.39-1.57,2.39-1.57,0,0-.02-.22-.26-.22-.53,0-1.52,1.11-2.67,1.11-.43,0-.67-.11-.67-.37,0-.16.19-.3.19-.66,0-.84-.49-1.11-.49-1.11,0,0,.03-.18.22-.18.36,0,.66.68.66,1.23,0,.37-.09.57-.09.57,0,0,.14.04.37.04.9,0,1.18-.5,1.18-.5,0,0-.28.07-.56.07-.32,0-.43-.16-.43-.16.65,0,1.12-.27,1.12-.51,0,0-.3.16-.68.16-.46,0-.58-.17-.58-.17.52,0,.98-.23.98-.49,0,0-.25.1-.61.1-.52,0-.61-.19-.61-.19.33,0,.69-.25.69-.39,0,0-.23.06-.44.06-.43,0-.51-.16-.51-.16.98-.97,2.24-1.42,2.24-1.42,0,0,.22.38.76.38.64,0,.73-.52.73-.52,0,0-.17.19-.54.19-.66,0-.89-.66-.89-.66l-.26.39c-1.08.35-2.72,1.28-3.77,2.42,0,0-1.32-1.25-1.32-3.36ZM104.07,9.16c.7,0,1,.37,1,.82,0,0,.13-.07.13-.32,0-.42-.39-.79-1.13-.79-1.25,0-1.03-1.39-1.03-1.39,0,0-.22.14-.22.8-.81,0-.53-1.27-.53-1.27,0,0-.26.14-.26.63,0,0-.32.21-.96.21-.79,0-1.26-.46-1.26-.46,0,0,.29.86,1.45.86.48,0,.81-.09.81-.09,0,0,.19.6.86.6,0,0,.34.41,1.14.41ZM102.32,11.04c0,.25.17.42.42.42.23,0,.42-.19.42-.42s-.19-.42-.42-.42-.42.19-.42.42ZM98.63,12.34c.12-.07.24-.14.38-.21v-2.77c-.14-.08-.27-.16-.4-.23-.08.19-.22.66-.22,1.55,0,.76.16,1.38.25,1.66ZM100.21,11.63v-1.67c-.18-.08-.35-.16-.51-.24-.04.22-.08.57-.08.95,0,.55.05.92.09,1.14.16-.06.33-.13.51-.19ZM101.31,11.33v-.97c-.18-.05-.37-.11-.55-.18v1.28c.17-.05.36-.09.55-.13ZM97.13,10.68c0,1.31.35,2.04.56,2.35.07-.07.17-.16.3-.26-.1-.36-.23-1.04-.23-2.13,0-1.18.12-1.87.14-1.97-.13-.09-.23-.16-.3-.21-.12.23-.47,1.02-.47,2.22ZM93.15,33.07c0-.42.85-1.99,1.57-1.99,0,0,.25.18.56.18,1.05,0,1.64-.67,2.12-.72,0,0-.51-.27-1.42-.27-.68,0-1.24.57-1.24.57l-.37.13c.17-.33.97-1.3,1.91-1.3,0,0,.92.41,1.4-.07.4-.4,1-1,1.42-1-.14-.22-.81-.29-1.18-.1s-.69.6-.97.6c-.42,0-.68.35-.68.35-.44,0-.75.19-.75.19,0-.32,1.05-.87,1.17-1.31,0,0,.73.01,1.07-.5.63-.96,1.37-1.59,1.37-1.59-.68,0-1.57.25-2.07.84-.29.34-.45.82-.58,1.11-.17.4-.76.78-.76.78,0,0,.07-.34.07-.64,0,0,.19-.15.19-.54,0-1.15-.65-2.05-.65-2.05,0,0-.31,1.09-.25,1.77.05.56.5.84.5.84,0,.99-.72,1.64-.72,1.64,0,0,0-.38-.07-.61,0,0,.06-.47-.02-.78-.19-.7-.96-1.87-.96-1.87,0,0-.13,1.27,0,1.9.1.49.77.8.77.8,0,0,.19.84-.47,1.35l-.04-.34c0-1.14-1.34-1.97-1.34-1.97,0,0,.19,1,.37,1.44.14.34.55.69.81.69,0,.75-1.11,1.83-1.11,1.83,0,0-.07.07-.07.25,0,.23.43.37.43.37ZM105.79,36.46c.39-.39.81-1.27,1.09-1.47,0,0,.61-.1.95-.44.48-.47,1.04-1.97.74-2.83-.52.94-1.24,1.59-1.58,1.97-.38.44-.37,1.17-.37,1.17-.32.32-.75,1.26-.91,1.26,0,0,.06-.37,0-.61,0,0,.29-.47.29-.88,0-.82-.18-1.31.01-1.95-.44.22-1,1.14-1,2.05,0,.42.47.78.47.78.11.35,0,.79-.25,1.15-.15.22-.6.52-.8.97l-.12.09s.25-.49.25-.81c0,0,.18-.42.05-.75-.16-.43-.61-.88-.75-1.27-.2.34-.18,1.22-.07,1.59.08.27.25.54.53.55,0,.53-.79,1.22-.79,1.22,0,0,.14-.46.08-.74-.1-.46-.94-1.12-.94-1.12,0,0,.04.95.22,1.3.1.2.49.32.49.32,0,.88-1.88,1.24-1.88,1.24,0,0-.13.41.28.41.77,0,2.46-1.85,3.05-1.85.18,0,.34.28.84.28,1.19,0,1.6-.49,1.6-.49-.78,0-1.52-.58-2.46-.06,0-.15.82-.9,1.31-.9,0,0,.15.22.83.22.88,0,1.13-.97,2.01-1.24-.68-.3-1.1.2-1.81.27-.52.05-.97.51-.97.51-.15,0-.38.04-.38.04ZM85.35,25.51c.5,0,.64-.38.64-.56,0-.15-.03-.32-.16-.43-.19.22-.48.1-.48-.18,0-.18.16-.45.58-.45.69,0,1.46.82,2.02,1.81,0,0,.18-.24.58-.24-.6-1.4-1.89-2.19-2.86-1.99.13-.13.32-.21.61-.21.63,0,1.17.22,1.53.47-.17-.52-.37-1.59-.37-2.14,0,0-.53-.82-1.36-.82-.18,0-.24.07-.24.07,0,0,.57.57.57,1.96-.95,0-1.45.53-1.45,1.1,0,.29-.26.36-.26.83,0,.41.28.78.65.78ZM85.93,34.48c0,.58-.54,1.3-1.45,1.3-1.46,0-2.21-1.52-2.21-2.61,0-.42.07-.7.07-.7,0,0-.4-.14-.49-.34.36-.22,1.1-1.31,1.53-1.74.91-.91,2.35-1.38,3.76-1.38,2.28,0,3.4,1.23,3.4,1.23,0-.5-1.64-1.96-3.73-1.96-.37,0-.55.04-.55.04-.21-.21-.07-.51-.07-.51-1.7,0-1.89.42-1.89.42,0,0,.18.1.18.35,0,.31-.31.66-.84.66-.61,0-.97-.34-.97-1.04,0-.82.88-1.51,2.97-1.51,2.82,0,5.02,2.41,5.02,2.41v-2.12c0-.16.12-.38.41-.38.17,0,.23.1.23.1v6.86s-.15.06-.25.16c0,0-.82-2.09-2.87-2.09-.99,0-1.19.29-1.19.29,0,0,.14.1.14.29,0,.21-.15.41-.42.41-.22,0-.45-.22-.45-.68,0-.69.54-1.02.54-1.02-1.1,0-1.52,1.02-1.52,1.02-.13-.13-.19-.3-.19-.48,0-.54.48-1.16.86-1.3-1.21,0-2.32,1.26-2.32,2.74,0,.79.45,1.19.45,1.19,0,0,.19-.65.86-.65s.98.53.98,1.05ZM86.28,30.44s.57-.27,1.38-.27c1.02,0,1.34.34,1.34.34-1.41,0-2.07.57-2.07.96,0,0,.33-.47,1.49-.47,1.5,0,2.2,1.14,2.2,1.14,0-.93-1.02-2.31-2.75-2.31-1.25,0-1.6.62-1.6.62ZM90.35,28.34c0-.58-.93-2.39-1.68-2.39-.54,0-.58.39-.58.39,0,0-.98-.29-1.35-1.04,0,0-.16.17-.16.6,0,0-.44-.07-.79-.07-1.1,0-1.21.51-1.21.51,0,0,.44-.05,1.03-.05,2.69,0,4.74,2.06,4.74,2.06ZM93.71,14.46c0-.33.66-.18.66-.18,0,0,.19-.91-.77-.91-.53,0-.91.49-.91,1.2,0,.98,1.03,1.82,2.24,1.7-.47.25-1.31.13-1.94-.18-.59.24-1.05.82-1.05,1.53,0,.67.51,1.43,1.26,1.43.81,0,1.13-.49,1.13-.85,0-.3-.13-.68-.54-.68-.36,0-.52.24-.52.45s.12.35.23.47c-.33,0-.7-.25-.7-.74,0-.27.08-.47.2-.61h1.74c.03.23.32.94.87.94-.2-.76-.12-1.71.35-2.08-.34.67-.02,2.28.86,2.28.3,0,.5-.21.5-.47,0-.21-.18-.41-.4-.41-.3,0-.37.29-.37.29,0,0-.14-.14-.14-.46,0-.67.48-1.26,1.02-1.26,0-.15.02-.29.06-.42-.66,0-.9.38-.9.38,0,0,.11-.7,1.03-.7.2-.4.5-.66.5-.66,0,0-.12-.08-.3-.08-.86,0-1.8.95-2.76.95-.86,0-1.37-.46-1.37-.93ZM87.18,11.84c.55,0,.54-.55.54-.55,0,0-.34.05-.34-.26,0-.13.11-.26.33-.26.53,0,.8.59.8,1.05.08,0,.33.02.43.06,0-.82.62-1.45.62-2.15,0-.54-.38-.59-.38-.59,0,.47-.34.64-.34.86,0,0-.21-.17-.58-.17-.43,0-.82.28-.82.55-.53,0-.89.36-.89.85s.42.63.62.63ZM95.78,14.82l1-.48c-.88-.28-.92-.9-.92-.9,0,0-.34.19-.34.78,0,.42.26.61.26.61ZM91.09,7.01c.66,0,.49,1.54.49,1.56-.3.13-.65.37-.77.52,0-1.18-.28-1.53-.28-1.53l-.35.23s.22.29.22.9c0,1.15-1.02,2.12-1.02,3.26.15-.15.34-.21.46-.22.05-.1.82-1.2,1.88-1.2.76,0,1.19.31,1.36.5.97,0,1.09.53,1.09.53,0,0-.44,0-.44.42,0,.23.19.37.4.37.42,0,.58-.56.58-.98,0-1.09-.93-1.92-2.26-1.92-.73,0-1.57.39-2.15,1.19.37-.95,1.43-1.57,2.48-1.57.45,0,.74.11.74.11,0,0,.14-.81-1.01-.81.01-.22.24-2.64-1.2-2.64-.78,0-1.13.55-1.13.55,0-.57.43-.78.43-.78,0,0-.15-.15-.36-.15-.89,0-1.63.88-1.63,1.74,0,.57.2,1.05.2,1.05.78,0,1.71-1.15,2.28-1.15ZM90.32,26.88s.07-.58.65-.58c.45,0,.66.31.66.31,0,0,.17-.17.17-.51,0-.51-.32-.93-.89-.93-.52,0-.75.5-.75.5-.24-.24-.48-.68-.48-1.31,0-.74.51-1.21,1.04-1.21s.82.32.82.32c0,0,.08-.04.08-.22,0-.38-.3-.62-.3-.62v-3.43c0-.69-.17-1.86-.58-1.86-.12,0-.17.04-.17.04,0,0-.06-.04-.06-.1,0-.09.06-.2.22-.2h.78c.08-.28.24-.54.44-.75h-1.42c-.08,0-.15.04-.18.12l-.29.61c-.04.09-.03.2.03.28.36.49.59,1.33.59,2.32v2.6c-1.15,0-1.66.98-1.66,1.75,0,0-.24-.53-.24-1.42,0-1.52,1.23-2.19,1.23-2.19,0,0-.09-.34-.48-.34,0,0,.28-.42.28-.88,0-.74-.67-.93-.67-.93,0-.64-.15-1.21-.57-1.21-.18,0-.23.12-.23.12,0,0,.08.06.08.19,0,.8-.94,1.54-.94,2.27,0,.48.15.59.15.59,0,0,.17-.94.92-1.48,0,0-.67.88-.67,2.65,0,3.04,2.47,5.51,2.47,5.51ZM89.31,12.36c-.1-.1-.4-.27-.82-.27-.38,0-1.04.22-1.04.84,1.12-.41,1.66.55,2.53,1.56,0,0-.27.1-.27.37.54,0,1.79,1.1,2.43,1.3.13-.1.27-.19.43-.25-1.11-.58-2.11-1.36-2.11-3.09.17,1.22.98,2.15,2.12,2.55-.08-.1-.16-.31-.19-.48-.83-.4-1.15-1.01-1.15-1.67,0-.7.44-1.31,1.03-1.31.24,0,.37.14.37.14,0,0,.01.21.16.21.14,0,.16-.1.16-.3,0-.16-.09-1.08-1.21-1.08-.46,0-1.19.26-1.55.85.31,0,.44.37.44.37,0,0-.14-.07-.43-.07-.59,0-.89.33-.89.33ZM93.31,19.48s-.02,0-.02,0c-.1,0-.2-.01-.3-.03v1.48l.32-.05v-1.41ZM93.97,19.35v1.44l.32-.05v-1.56c-.1.07-.21.12-.32.17ZM114.56,21.59c0,.55-.2,1.62-.37,2.14.36-.25.91-.47,1.53-.47.3,0,.49.09.61.21-.97-.2-2.26.59-2.86,1.99.4,0,.58.24.58.24.56-.99,1.33-1.81,2.02-1.81.42,0,.58.27.58.45,0,.28-.29.4-.48.18-.14.12-.16.28-.16.43,0,.18.15.56.64.56.37,0,.65-.37.65-.78,0-.47-.26-.54-.26-.83,0-.56-.5-1.1-1.45-1.1,0-1.39.57-1.96.57-1.96,0,0-.06-.07-.24-.07-.84,0-1.36.82-1.36.82ZM119.66,32.47s.07.27.07.7c0,1.09-.74,2.61-2.21,2.61-.91,0-1.45-.72-1.45-1.3,0-.53.33-1.05.98-1.05s.86.65.86.65c0,0,.45-.4.45-1.19,0-1.48-1.12-2.74-2.32-2.74.38.14.86.76.86,1.3,0,.18-.06.34-.19.48,0,0-.42-1.02-1.52-1.02,0,0,.54.34.54,1.02,0,.47-.23.68-.45.68-.27,0-.42-.2-.42-.41,0-.18.14-.29.14-.29,0,0-.2-.29-1.19-.29-2.05,0-2.87,2.09-2.87,2.09-.1-.1-.25-.16-.25-.16v-6.86s.06-.1.23-.1c.29,0,.41.22.41.38v2.12s2.2-2.41,5.02-2.41c2.09,0,2.97.69,2.97,1.51,0,.69-.36,1.04-.97,1.04-.53,0-.84-.36-.84-.66,0-.26.18-.35.18-.35,0,0-.19-.42-1.89-.42,0,0,.14.31-.07.51,0,0-.18-.04-.55-.04-2.09,0-3.73,1.46-3.73,1.96,0,0,1.12-1.23,3.4-1.23,1.42,0,2.86.47,3.76,1.38.43.43,1.17,1.52,1.53,1.74-.09.2-.49.34-.49.34ZM115.72,30.44s-.35-.62-1.6-.62c-1.73,0-2.75,1.38-2.75,2.31,0,0,.71-1.14,2.2-1.14,1.16,0,1.49.47,1.49.47,0-.39-.66-.96-2.07-.96,0,0,.32-.34,1.34-.34.8,0,1.38.27,1.38.27ZM115.41,25.89c0-.43-.16-.6-.16-.6-.37.75-1.35,1.04-1.35,1.04,0,0-.04-.39-.58-.39-.75,0-1.68,1.8-1.68,2.39,0,0,2.05-2.06,4.74-2.06.59,0,1.03.05,1.03.05,0,0-.12-.51-1.21-.51-.35,0-.79.07-.79.07ZM104.81,15.24c.49,0,.58.63.58.63,0,0-.39-.38-.7-.38-.38,0-.34.31-.34.31.54,0,1.22.7,1.22,1.37,0,.32-.14.46-.14.46,0,0-.07-.29-.37-.29-.21,0-.4.19-.4.41,0,.26.2.47.5.47.87,0,1.19-1.61.86-2.28.47.38.55,1.33.35,2.08.55,0,.84-.7.87-.94h1.74c.12.14.2.33.2.61,0,.49-.37.74-.7.74.11-.11.23-.26.23-.47s-.17-.45-.52-.45c-.4,0-.54.38-.54.68,0,.37.32.85,1.13.85.75,0,1.26-.76,1.26-1.43,0-.71-.45-1.29-1.05-1.53-.63.31-1.48.43-1.94.18,1.21.13,2.24-.72,2.24-1.7,0-.71-.39-1.2-.91-1.2-.96,0-.77.91-.77.91,0,0,.66-.15.66.18,0,.47-.51.93-1.37.93-.54,0-1.26-.47-1.78-.47-.36,0-.32.32-.32.32ZM116.26,38.24c0,.61-.7,1.34-1.22,1.34,0,0,.71-.58.71-1.67,0-1.01-.43-1.2-.43-1.79-.6,0-1.16.66-1.16,1.03,0,0,.45.19.45.76,0,.37-.11.49-.11.49,0-.55-.24-.91-.67-.91-.35,0-.58.3-.58.65,0,.24.06.42.23.42.21,0,.2-.36.2-.36,0,0,.06.11.06.27,0,.52-.45.89-1.24.89,0,0-.2.26-.84.26-.87,0-1.15-.82-1.15-.82,0,0,.46.48,1.07.48.52,0,.88-.32.88-.77,0-.51-.33-.65-.33-.65,0,0-.08.32-.47.32-.43,0-.63-.38-.63-.84,0-.72.5-1.59,1.43-1.59.3,0,.69.12.94.37.04-.07.1-.2.1-.39,0-.39-.49-.84-1.1-.84-.83,0-1.18.48-1.18.48,0-.3.29-.5.29-.5,0-.76.52-1.44,1.29-1.44.37,0,.47.14.47.14-.68,0-1.32.6-1.32,1.07,0,0,.25-.08.54-.08,0,0,.31-.36.87-.36.36,0,.5.17.5.17,0,0-.2.09-.2.33,0,.21.19.43.48.43.34,0,.49-.36.49-.56,0-.62-.51-1.03-.92-1.03,0,0-.23-.66-1.11-.66-.93,0-1.47.94-1.47,1.52,0,0-.29-.55-.74-.55-.16,0-.3.06-.3.06,0,0,.28.33.28.85,0,.29-.04.52-.11.74-.58,1-1.35,1.94-2.3,2.8-.21.19-.6.63-.6,1.72,0,0-.23-.16-.23-1.02-3.79,2.53-6.09,3.1-6.09,3.1,0,0-2.3-.57-6.09-3.1,0,.86-.23,1.02-.23,1.02,0-1.09-.39-1.53-.6-1.72-.95-.86-1.72-1.79-2.3-2.8-.07-.22-.11-.45-.11-.74,0-.52.28-.85.28-.85,0,0-.14-.06-.3-.06-.45,0-.74.55-.74.55,0-.58-.55-1.52-1.47-1.52-.88,0-1.11.66-1.11.66-.42,0-.92.41-.92,1.03,0,.21.15.56.49.56.29,0,.48-.22.48-.43,0-.23-.2-.33-.2-.33,0,0,.14-.17.5-.17.56,0,.87.36.87.36.29,0,.54.08.54.08,0-.47-.64-1.07-1.32-1.07,0,0,.1-.14.47-.14.77,0,1.29.68,1.29,1.44,0,0,.29.2.29.5,0,0-.34-.48-1.18-.48-.61,0-1.1.45-1.1.84,0,.19.06.33.1.39.25-.26.64-.37.94-.37.93,0,1.43.87,1.43,1.59,0,.46-.2.84-.63.84-.39,0-.47-.32-.47-.32,0,0-.33.13-.33.65,0,.45.35.77.88.77.62,0,1.07-.48,1.07-.48,0,0-.28.82-1.15.82-.64,0-.84-.26-.84-.26-.79,0-1.24-.37-1.24-.89,0-.16.06-.27.06-.27,0,0,0,.36.2.36.17,0,.23-.18.23-.42,0-.36-.23-.65-.58-.65-.43,0-.67.36-.67.91,0,0-.11-.13-.11-.49,0-.57.45-.76.45-.76,0-.37-.56-1.03-1.16-1.03,0,.59-.43.78-.43,1.79,0,1.09.71,1.67.71,1.67-.53,0-1.22-.73-1.22-1.34,0,0-.19.09-.19.53,0,1.31,1.4,1.75,1.4,1.75,0,0,.27-.84,1.32-.84.26,0,.39.1.39.1-.8,0-1.34.53-1.34,1.09,0,.27.19.26.19.26,0,0-.02-.38.5-.38.27,0,.55.09,1,.09,1.37,0,3.24-.84,3.3-2.89,0,0-.33-.48-.24-.83.41.52.87,1.03,1.39,1.51.46.42.66.97.66,1.39,0,.33-.11.59-.41.59-.14,0-.23-.13-.23-.26,0-.15.13-.22.13-.22,0,0-.1-.2-.41-.2-.28,0-.47.25-.47.52,0,.23.24.57.61.57.25,0,.37-.06.37-.06,0,0,.2.27.64.27.52,0,.79-.63.79-1.24l1.53.96s-.31.22-.31.54.22.34.22.34c0-.24.21-.42.45-.42.35,0,.56.25.56.59.32,0,.57.2.57.6,0,.44-.3.64-.61.64-.16,0-.19-.08-.19-.08.25,0,.39-.17.39-.36,0-.16-.13-.35-.35-.35-.29,0-.5.22-.5.57,0,.4.33.77.91.77.82,0,1.12-.9,1.12-1.47,0-.11,0-.21-.01-.27.17.07.57.23.75.3,0,0-.26.29-.26.79,0,.84.53,1.39.53,1.39-.27,0-.8-.56-.8-1.3,0,0-.26.04-.26.45,0,.65.6,1.25,1.22,1.25.31,0,.37-.14.37-.14,0,0-.47-.43-.47-1.16,0-.56.4-.91.99-.91s.99.36.99.91c0,.73-.47,1.16-.47,1.16,0,0,.07.14.37.14.62,0,1.22-.6,1.22-1.25,0-.4-.26-.45-.26-.45,0,.74-.52,1.3-.8,1.3,0,0,.53-.55.53-1.39,0-.5-.26-.79-.26-.79.18-.07.59-.23.75-.3,0,.06-.01.17-.01.27,0,.57.3,1.47,1.12,1.47.59,0,.91-.37.91-.77,0-.35-.21-.57-.5-.57-.22,0-.35.19-.35.35,0,.19.13.36.39.36,0,0-.03.08-.19.08-.31,0-.61-.2-.61-.64,0-.4.24-.6.57-.6,0-.34.21-.59.56-.59.24,0,.45.18.45.42,0,0,.22-.03.22-.34,0-.32-.31-.54-.31-.54l1.53-.96c0,.62.27,1.24.79,1.24.44,0,.64-.27.64-.27,0,0,.12.06.37.06.37,0,.61-.34.61-.57,0-.27-.18-.52-.47-.52-.31,0-.41.2-.41.2,0,0,.13.07.13.22,0,.12-.08.26-.23.26-.3,0-.42-.26-.41-.59,0-.43.21-.97.66-1.39.51-.48.98-.98,1.39-1.51.09.34-.24.83-.24.83.06,2.06,1.93,2.89,3.3,2.89.45,0,.72-.09,1-.09.51,0,.5.38.5.38,0,0,.19.01.19-.26,0-.56-.54-1.09-1.34-1.09,0,0,.14-.1.39-.1,1.06,0,1.32.84,1.32.84,0,0,1.4-.44,1.4-1.75,0-.44-.19-.53-.19-.53ZM112.82,9.14s-.38.05-.38.59c0,.7.62,1.33.62,2.15.11-.04.35-.06.43-.06,0-.46.27-1.05.8-1.05.21,0,.33.13.33.26,0,.31-.34.26-.34.26,0,0,0,.55.54.55.2,0,.62-.13.62-.63s-.35-.85-.89-.85c0-.27-.38-.55-.82-.55-.37,0-.58.17-.58.17,0-.21-.34-.39-.34-.86ZM105.26,14.32s.06.12.06.34c0,0,.51.04.9.15,0,0,.26-.19.26-.61,0-.59-.34-.78-.34-.78,0,0,0,.61-.89.89ZM107.87,12.36c.22,0,.4-.14.4-.37,0-.43-.44-.42-.44-.42,0,0,.04-.53,1.09-.53.17-.19.6-.5,1.36-.5,1.06,0,1.83,1.1,1.88,1.2.12.01.31.08.46.22,0-1.15-1.02-2.11-1.02-3.26,0-.61.22-.9.22-.9l-.35-.23s-.28.35-.28,1.53c-.12-.15-.47-.39-.77-.52,0,0-.17-1.56.49-1.56.57,0,1.5,1.15,2.28,1.15,0,0,.2-.49.2-1.05,0-.87-.74-1.74-1.63-1.74-.22,0-.36.15-.36.15,0,0,.43.22.43.78,0,0-.34-.55-1.13-.55-1.44,0-1.21,2.42-1.2,2.64-1.16,0-1.01.81-1.01.81,0,0,.28-.11.74-.11,1.04,0,2.11.61,2.48,1.57-.59-.8-1.42-1.19-2.15-1.19-1.33,0-2.26.82-2.26,1.92,0,.42.17.98.58.98ZM111.03,26.3c.58,0,.65.58.65.58,0,0,2.47-2.46,2.47-5.51,0-1.78-.67-2.65-.67-2.65.75.53.92,1.48.92,1.48,0,0,.15-.11.15-.59,0-.73-.94-1.47-.94-2.27,0-.13.08-.19.08-.19,0,0-.05-.12-.23-.12-.43,0-.57.57-.57,1.21,0,0-.67.2-.67.93,0,.45.28.88.28.88-.39,0-.48.34-.48.34,0,0,1.23.67,1.23,2.19,0,.89-.24,1.42-.24,1.42,0-.77-.51-1.75-1.66-1.75v-2.6c0-.98.22-1.83.59-2.32.06-.08.07-.19.03-.28l-.29-.61c-.03-.07-.11-.12-.18-.12h-1.42c.2.21.35.47.44.75h.78c.16,0,.22.11.22.2,0,.06-.06.1-.06.1,0,0-.05-.04-.17-.04-.41,0-.58,1.17-.58,1.86v3.43s-.3.25-.3.62c0,.18.08.22.08.22,0,0,.27-.32.82-.32s1.04.47,1.04,1.21c0,.63-.24,1.07-.48,1.31,0,0-.23-.5-.75-.5-.57,0-.89.42-.89.93,0,.35.17.51.17.51,0,0,.22-.31.66-.31ZM109.44,15.9c.15.06.3.15.43.25.64-.2,1.9-1.3,2.43-1.3,0-.27-.27-.37-.27-.37.87-1.01,1.41-1.97,2.53-1.56,0-.62-.66-.84-1.04-.84-.42,0-.72.17-.82.27,0,0-.3-.33-.89-.33-.29,0-.43.07-.43.07,0,0,.19-.37.44-.37-.37-.59-1.09-.85-1.55-.85-1.12,0-1.21.91-1.21,1.08,0,.19.05.3.16.3.16,0,.16-.21.16-.21,0,0,.13-.14.37-.14.59,0,1.03.61,1.03,1.31s-.32,1.27-1.15,1.67c-.03.17-.12.38-.19.48,1.14-.4,1.95-1.33,2.12-2.55,0,1.73-1,2.51-2.11,3.09ZM101.01,25.13h9.34s.24-.31,1-.31v-1.12s-.05-.2-.32-.2c-.3,0-.35.24-.35.24v.73h-.69v-5.49c-.1.09-.21.18-.32.25v5.25h-.66v-3.3l-.24.24-.08.08v2.98h-.66v-.91l-.26-.13-.07-.04v1.09h-.66v-1.43l-.16-.09-.16.09v1.43h-.66v-1.09l-.07.04-.25.13v.92h-.66v-2.98l-.08-.08-.24-.24v3.3h-.66v-6.9h-.32v6.9h-.66v-1.27c-.1.11-.21.22-.32.31v.96h-.66v-.56c-.11.05-.21.09-.32.12v.44h-.66v-.33h-.33v.33h-.66v-.44c-.11-.03-.22-.07-.32-.12v.56h-.66v-.96c-.12-.09-.23-.2-.32-.31v1.27h-.66v-6.01c-.12-.05-.23-.11-.32-.19v6.2h-.66v-3.3l-.24.24-.08.08v2.98h-.66v-.92l-.25-.13-.07-.04v1.09h-.66v-1.43l-.16-.09-.16.09v1.43h-.66v-1.09l-.07.04-.26.13v.91h-.66v-2.98l-.08-.08-.24-.24v3.3h-.66v-5.25c-.12-.07-.23-.15-.32-.25v5.49h-.69v-.73s-.05-.24-.35-.24c-.27,0-.32.2-.32.2v1.12c.76,0,1,.31,1,.31h9.36Z"/>
</svg>
            </div>
        </div>

<div class="footer-links" style="display:flex; gap:40px; flex-wrap:nowrap;">
  {%- for block in section.blocks -%}
    {%- if block.type == 'links_column' -%}
      <div class="footer-col" {{ block.shopify_attributes }} style="min-width:180px">
        {%- if block.settings.heading != blank -%}
          <h4 style="margin:0 0 12px; font-weight:400; font-size:1rem; color:#fff;">
            {{ block.settings.heading }}
          </h4>
        {%- endif -%}

        {%- if block.settings.menu != blank -%}
          <ul style="list-style:none; padding:0; margin:0; display:flex; flex-direction:column; gap:8px;">
            {%- for link in block.settings.menu.links -%}
              <li>
                <a href="{{ link.url }}" style="color:#fff; text-decoration:none; opacity:.9;">
                  {{ link.title }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>



        
        <div style="display: flex; flex-direction: column; align-items: flex-end;">
            <div style="display: flex; gap : 20px; align-items: flex-end;">
            <img style="width:24px; height: 24px;"
                src="https://dinagenboxtech.vtexassets.com/assets/vtex.file-manager-graphql/images/1fc53164-ec77-4d1b-a320-5ec161091711___36be8332247ea8a976d7dc8c3330a558.webp"
                alt="">
            <img style="width:24px; height: 24px;"
                src="https://dinagenboxtech.vtexassets.com/assets/vtex.file-manager-graphql/images/f6cd6ab5-7116-467f-8305-5e6f1cab215d___c9e9d986afb5aef349d39b405225b5d5.png"
                alt="">
            <img style="width:24px; height: 24px;"
                src="https://dinagenboxtech.vtexassets.com/assets/vtex.file-manager-graphql/images/8487b892-ccd7-4d74-9a2e-f1261feff092___11204ee653d507d77d315274ba6d2552.png"
                alt="">
        </div>
            <button
                style="background-color: transparent; padding: 11px 12px; border: 1px solid white; border-radius: 20px; color: white;">BOTÓN DE ARREPENTIMIENTO</button>
        </div>
    </div>

    <div class="footer-bottom-grid" style="display: flex; justify-content: space-around; padding-top: 20px; margin-top: 20px; flex-wrap: wrap;">
        <div style="display: flex; gap : 10px">
            <p>Powered by Pierce commerce</p>
            <img style="width:76px; height: 17px;"
                src="https://dinagenboxtech.vtexassets.com/assets/vtex/assets-builder/dinagenboxtech.dinagenboxtech-store-theme/3.0.7/footer/pierce-logo___216532d0ea67b678bb537aada0dc23e0.png"
                alt="">
        </div>
        
        {% if section.settings.legal_notice != blank %}
          <div style="margin-bottom: 10px;">
            <div style="margin:0;">{{ section.settings.legal_notice }}</div>
          </div>
        {% endif %}
        

        <div style="display: flex;">
            <img style="width:36px; height: 50px;"
                src="https://dinagenboxtech.vtexassets.com/assets/vtex/assets-builder/dinagenboxtech.dinagenboxtech-store-theme/3.0.7/footer/fiscal___ca4f367f83d5a92fe6b7564b2b4bf92b.png"
                alt="">
        </div>
    </div>
</div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer-bg-image",
      "label": "Footer background Image"
    },
    {
  "type": "richtext",
  "id": "legal_notice",
  "label": "Texto legal / disclaimer",
  "default": "<p>BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS. Av. Rivadavia 413 piso 8º Buenos Aires, Argentina. | © Rutini Wines 2023, todos los derechos reservados.</p>"
}
  ],
  "blocks": [
    {
  "type": "links_column",
  "name": "Links column",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Enlaces"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Links"
    }
  ]
}
    ,
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "newsletter_title",
          "placeholder": "Title for Block",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "newsletter_description",
          "placeholder": "Description for Block",
          "label": "Description"
        },
        {
          "type": "checkbox",
          "id": "newsletter_mailchimp",
          "label": "Use MailChimp",
          "default": true
        },
        {
          "type": "paragraph",
          "content": "Uncheck if You use Newsletter of Shopify. Email will be saved to shopify customer. Admin -> Customers -> Accepts Marketting. You must send invite account for customer."
        },
        {
          "type": "text",
          "id": "newsletter_form_action",
          "label": "MailChimp form action URL",
          "info": "[Where do I find my MailChimp form action URL?](https:\/\/www.youtube.com/watch?v=mQ6UFLP_iEI)"
        }
      ]
    },
    {
      "type": "contact_info",
      "name": "Contact info",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Block Contact info"
        },
        {
          "type": "text",
          "id": "contactinfo_heading",
          "label": "Heading"
        },
        {
          "type": "image_picker",
          "id": "contactinfo_logo",
          "label": "Logo footer"
        },
        {
          "type": "range",
          "id": "logo_width",
          "min": 50,
          "max": 250,
          "step": 10,
          "default": 100,
          "unit": "px",
          "label": "Custom logo width"
        },
        {
          "type": "textarea",
          "id": "contactinfo_desc",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "contactinfo_add",
          "label": "Adress",
          "default": "1234 Heaven Stress, Beverly Hill."
        },
        {
          "type": "text",
          "id": "contactinfo_phone",
          "label": "Phone",
          "default": "Telephone: +01 234 567 89"
        },
        {
          "type": "text",
          "id": "contactinfo_email",
          "label": "Email",
          "default": "Email: info@gmail.com"
        },
        {
          "type": "text",
          "id": "contactinfo_time",
          "label": "Time",
          "default": "8:00 - 19:00, Monday - Saturday"
        },
        {
          "type": "header",
          "content": "Payment"
        },
        {
          "type": "checkbox",
          "id": "payment_enable",
          "label": "Enable Payment"
        },
        {
          "type": "image_picker",
          "id": "payment_image",
          "label": "Payment Logo"
        }
      ]
    },
    {
      "type": "link_list",
      "name": "Menu",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Link List",
          "label": "Heading",
          "info": "A heading is required to display the menu."
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu",
          "info": "Displays only top-level menu items."
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "Heading"
        },
        {
          "type": "html",
          "id": "subtext",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
          "label": "Content"
        }
      ]
    },
    {
      "type": "copyright",
      "name": "CopyRight",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Block Copyright"
        },
        {
          "type": "text",
          "id": "footer_copyright",
          "label": "Copyright",
          "placeholder": "Copyright"
        },
        {
          "type": "header",
          "content": "Social Link"
        },
        {
          "type": "checkbox",
          "id": "social_enable",
          "label": "Social enable?"
        }
      ]
    }
  ]
}
{% endschema %}


<style>
.footer .footer-inner{
  background:#343537 !important;   
  color:#979797;
  padding:58px 40px 17px !important;
  font-size:1rem;
  line-height:400px;
  line-height:22px;
  margin:0 auto;
}

.footer .footer-inner > div > div:first-child{
  display:grid !important;
  grid-template-columns: 1fr 2fr 1fr;
  gap:28px;
  align-items:start;
}

#footer .footer-inner > div > div:last-child > div > img{
  width: 28px !important;   
  height: 28px !important;
  filter: grayscale(20%) contrast(.95);
  opacity: .9;
  transition: transform .15s ease, opacity .15s ease;
}
#footer .footer-inner > div > div:last-child > div > img:hover{
  opacity: 1;
  transform: translateY(-1px);
}

.footer .footer-links{
  display:grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap:24px 32px;
  align-content:start;
}
.footer .footer-links h4{ 
  display:none; 
}             

.footer .footer-links a{
  color:#b8956b !important;                           
  text-decoration:none !important;
  opacity:1 !important;
  
}
.footer .footer-links a:hover{ 
  opacity:.8 !important; 
}

.footer .footer-links a::before{ 
  display:none !important; 
} 

.footer .footer-inner > div > div:first-child > div:last-child{
  display:flex !important;
  flex-direction:column !important;
  align-items:center !important;
  gap:18px;
}


.footer .footer-inner > div > div:first-child > div:last-child button{
  background:transparent !important;
  color:#b8956b !important;
  padding:10px 18px !important;
  border:1px solid #b8956b !important;
  border-radius:6px !important;
  font-weight:400;
  white-space:nowrap;
}

.footer .footer-inner > div > div:last-child{
  display:grid !important;
  grid-template-columns: 1fr minmax(280px,2fr) 1fr;
  align-items:center;
  gap:20px;
  padding-top:22px !important;
  margin-top:28px !important;
}

.footer .footer-inner > div > div:last-child > div:first-child{
  display:flex !important;
  align-items:center;
  gap:10px;
  flex-wrap:wrap;
}

.footer .footer-inner > div > div:last-child > div:first-child img{
  height:18px; width:auto;
}

.footer .footer-inner > div > div:last-child > div:nth-child(2){
  text-align:center;
}

.footer .footer-inner > div > div:last-child > div:last-child{
  text-align:right;
}

.footer .footer-inner > div > div:last-child > div:last-child img{
  max-height:56px; 
  width:56px;
}









@media (max-width: 992px){
  .footer .footer-inner > div > div:first-child{ 
    grid-template-columns:1fr; gap:24px; 
  }
  .footer .footer-links{ 
    grid-template-columns: repeat(2, 1fr); 
  }
  .footer .footer-inner > div > div:first-child > div:last-child{ 
    align-items:flex-start !important; 
  }
}

@media (max-width: 640px){
  .footer .footer-links{ 
    grid-template-columns:1fr; 
  }

  .footer .footer-inner > div > div:last-child{ 
    grid-template-columns:1fr; 
    text-align:left; 
    gap:16px; 
  }

  .footer .footer-inner > div > div:last-child > div:last-child{ 
    text-align:left; 
  }
}



.footer .footer-inner > div{ 
  max-width:1220px; 
  margin:0 auto; 
}

.footer-top-grid{
  display:grid !important;
  grid-template-columns: 380px 1fr auto; 
  gap:40px;
  align-items:center;
}



.footer .footer-links{
  display:grid !important;
  grid-template-columns: repeat(3, minmax(180px,1fr));
  gap:24px 32px;
  align-content:start;
}
.footer .footer-links a{
  color:#c9a987 !important;        
  text-decoration:none !important;
  opacity:1 !important;
  
}

.footer-top-grid > div:last-child{
  display:flex !important;
  flex-direction:column !important;
  align-items:flex-end !important;
  gap:16px;
}





.footer-bottom-grid > :nth-child(2){
  justify-self:center; text-align:center;
  font-size:13px; line-height:1.35; opacity:.85;
}
.footer-bottom-grid > :last-child{ justify-self:end; }



.footer-logo{
  width:202px; 
  height:90px;
}


</style>
